.projects-cont {
  padding: 6rem 0;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.projects-cont h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.projects-list {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project {
  width: 32%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(116, 91, 91, 0.1);
}
.proj-info-cont img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(116, 91, 91, 0.1);
  transition: 0.1s ease-in-out;
}
.proj-info-cont img:hover {
  transform: scale(1.05);
}
