.home-cont {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 6rem 4rem 6rem 4rem;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

.all-info-cont {
  display: flex;
  max-width: 60rem;
  background-color: rgb(245, 245, 245);
}

.my-img {
  width: 90vw;
  max-width: 25rem;
  max-height: 25rem;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.intro-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.intro-title h2 {
  font-size: 4rem;
  font-weight: 600;
  color: rgb(34, 104, 211);
}
.intro-title img {
  position: absolute;
  right: 35%;
  top: 55%;
  width: 3.7rem;
  height: 3.7rem;
}
.intro-desc {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  color: #767676;
}

.socials-cont {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.socials-cont a img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

@media all and (max-width: 768px) {
  .home-cont {
    align-items: center;
    text-align: center;
  }
  .my-img {
    margin-right: 0;
  }
  .intro-desc {
    margin-top: 0;
  }
  .all-info-cont {
    flex-direction: column;
    align-items: center;
  }
  .socials-cont {
    justify-content: center;
  }
}

@media all and (max-width: 420px) {
  .home-cont {
    padding: 6rem 4rem 2rem 4rem;
  }
  .intro-title {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0.5rem;
  }
  .intro-title h2 {
    font-size: 3rem;
  }
}
