.body-container {
  margin-top: 1.5em;
}
.info-container {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
  margin-bottom: 1.5em;
}
.my-img {
  width: 22em;
  height: 22em;
  border-radius: 5px;
  margin-right: 1.5em;
}
.intro-h {
  font-size: 4em;
  font-weight: 800;
  color: rgb(34, 104, 211);
}
.intro-p {
  font-size: 2.3em;
  font-weight: 500;
}
.intro-text {
  font-size: 1em;
  line-height: 1.7em;
}

/* 1920 PLUS */
@media all and (min-width: 1920px) {
  .info-container {
    width: 70vw;
    margin: auto;
  }
}

/* 1280 px */
@media all and (max-width: 1280px) {
  .info-container {
    width: 97vw;
  }
}

/* 1024 px */
@media all and (max-width: 1024px) {
  .info-container {
    width: 97vw;
  }
  .my-img {
    width: 35vw;
    height: 35vw;
  }
  .intro-h {
    font-size: 3.5em;
  }
  .intro-p {
    font-size: 2em;
  }
}

/* 768 px */
@media all and (max-width: 768px) {
  .my-img {
    width: 65vw;
    height: 65vw;
    display: block;
    margin: 0 auto 1em auto;
  }

  .info-container {
    display: block;
    text-align: center;
  }
  .intro-h {
    font-size: 3em;
  }
  .intro-p {
    font-size: 2em;
  }
  .intro-text {
    display: block;
    width: 80vw;
    margin: auto;
    text-align: justify;
  }
}

/* 480 px */
@media all and (max-width: 480px) {
  .intro-h {
    font-size: 2em;
  }
  .intro-p {
    font-size: 1.4em;
  }
  .intro-text {
    width: 90vw;
  }
}
