.contact-container {
  background-color: rgb(34, 104, 211);
  width: 90vw;
  margin: auto;
  margin-bottom: 1em;
  color: rgb(243, 234, 234);
  padding: 2em;
  border-radius: 10px;
}
.contact-h {
  margin-bottom: 0.5em;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-container input:focus,
.message-cont textarea:focus {
  outline: none;
}

.name-email-cont {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.name-cont input,
.email-cont input {
  width: 100%;
  height: 2.6em;
  margin: 0.4em 0;
  padding: 0.3em;
}

.message-cont {
  margin: 0 0 0 2em;
  width: 50%;
}
.message-cont textarea {
  margin: 0.4em 0;
  width: 100%;
  max-width: 100%;
  min-height: 15em;
  padding: 0.5em;
}

.submit-btn {
  display: flex;
  margin-left: auto;
  width: 7em;
  height: 2em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  background-color: #e91b48;
  color: rgb(245, 233, 233);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.submit-btn:hover {
  background-color: #d3163f;
}

@media all and (max-width: 768px) {
  .form-container {
    display: block;
  }
  .name-email-cont {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  .name-cont,
  .email-cont {
    width: 50%;
  }
  .message-cont {
    width: 100%;
    margin: 0;
  }
}
