.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.3rem;
  min-height: 4rem;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(240, 240, 240);
}

.nav-logo {
  font-weight: 800;
  font-size: 2.1em;
  cursor: pointer;
  color: #e91b48;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links li {
  padding: 0;
  margin: 0;
}
.nav-links li a {
  cursor: pointer;
  border-radius: 5px;
  margin: 0 0.2rem;
  text-decoration: none;
  padding: 0.5rem;
}
.nav-links li a:hover {
  background-color: rgb(243, 243, 243);
}

.toggle-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  cursor: pointer;
}
.toggle-nav img {
  width: 2rem;
}

.mobile-nav {
  text-align: center;
  border-radius: 5px;
  scale: 0;
  transition: 0.1s ease-in-out;
  transform-origin: 88% 0%;
  position: absolute;
  right: 1rem;
  top: 4.2rem;
  width: 50%;
  background-color: rgb(231, 231, 231);
}
.mobile-nav ul {
  list-style-type: none;
}
.mobile-nav ul li a {
  border-radius: 5px;
  padding: 0.5rem;
  display: block;
  cursor: pointer;
}
.mobile-nav ul li a:active {
  background-color: rgb(212, 212, 212);
}
.mobile-nav.active {
  scale: 1;
}

@media all and (max-width: 480px) {
  .navbar {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
  }
  .nav-links {
    display: none;
  }
  .toggle-nav {
    display: flex;
  }
}
