.site-footer {
  border-top: 2px solid rgb(235, 230, 230);
  min-height: 4em;
  display: flex;
  align-items: center;
  padding: 0 2em;
}
.site-footer p {
  color: rgb(176, 180, 176);
  margin-left: 1em;
}
.footer-logo {
  font-weight: 800;
  font-size: 2.1em;
  cursor: pointer;
  color: #e91b48;
}
.socmed-container {
  display: flex;
  margin-left: auto;
}
.footer-link {
  margin: 0.5em;
  transition: 0.2s;
}
.footer-link:hover {
  transform: scale(1.1);
}
.ftr-img {
  height: 2.4em;
  width: 2.4em;
}
