@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px black;
  /* outline-style: dotted; */
}
@media all and (max-width: 420px) {
  * {
    /* outline-style: dotted; */
  }
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background: #e91b48;
}
body::-webkit-scrollbar-thumb {
  background: #7a3737;
}

@media all and (min-width: 1920px) {
  .App {
    width: 90vw;
    margin: auto;
  }
}
